<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts::header"></head>

<body>
	<nav th:replace="layouts::navbar"></nav>
	<div class="container">
		<h3>Employees Directory</h3>
		<hr>
		<!-- Add new employee button. -->
		<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">New
			Employee</a>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Stage</th>
					<th>Email Address</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.firstName}" />
					<td th:text="${employee.lastName}" />
					<td th:text="${employee.email}" />
				</tr>
			</tbody>

		</table>
	</div>

</body>
</html>